<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- The full-screen ringer: opened by the incoming-call notification (core:call's Ringer). -->
        <activity
            android:name=".IncomingCallActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="pt.aguiarvieira.xmuks.call.RING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
